/* .section2::before{
    background: url('/hipa/img/progress.jpg') no-repeat center center/cover;
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.7;
    background-color: rgba(0,0,0,.1); 
}  */
/* .section2{
    justify-content: center;
} */
/* nav::before{
    background: url('/hipa/img/bg.jpg') no-repeat center center/cover;
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.7;
} */

.section1{
    background: #363636;
}
.heading{
    color: white;
}
.contactheading{
    height: 10vh;
    margin-top: 5vh;
    color: black;
    font-size: 3rem;
    font-family: 'Quicksand', sans-serif;
}
.section2{
    height: 70vh;
    background: url('/hipa/img/quote.jpg') no-repeat center/cover;
    opacity: 0.8;
    background-position: 50% 52%;
}
.section3{
    height: 70vh;
    background: url('/hipa/img/bg.jpg') no-repeat center/cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: space-around; */
}
.section3 form{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-around;
}
/* .formtext{
    font-size: 30px;
    margin: 10px 0px;
} */
.forminput{
    margin: 10px 0px;
    height: 5vh;
    width: 58vw;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
    
}
textarea{
    margin: 10px 0px;
    border-radius: 10px;
    padding: 10px 10px;
    resize: vertical;
    font-size: 18px;
    border: 1px solid black;
}
.formlabel{
    font-size: 2rem;
}
.btndiv{
    text-align: center;
}
#btn{
    padding: 4px 21px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #343434;
    color: white;
    margin: 10px 0px;
}
#btn:hover{
    cursor: pointer;
}
